<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user1.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user1.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user1.age %>
</p>

<%= link_to 'Edit', edit_user1_path(@user1) %> |
<%= link_to 'Back', user1s_path %>
